<p id="notice"><%= notice %></p> 
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Welcome to Definitely Not Twitter</h1>
  <p>Whats Happening</p>
</div>

<h1>All Tweets</h1>

<table border="solid black" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan ="3"></th>
    </tr>
    <tbody>
      <%@tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.user.username, profile_path(tweet.user[:id]) %></td>
        <td><%= tweet.message %></td>
        <td><%= link_to "Show", tweet, class: "btn btn-xs btn-info" %></td>
        <td><%= link_to "Edit", edit_tweet_path(tweet), class: "btn btn-xs btn-default" %></td>
        <td><%= link_to "Destroy", tweet, method: :delete, data: {confirm: "Are you suere?"}, class: "btn btn-xs btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>
<br>
<%= link_to "Add New Tweet", new_tweet_path, class: "btn btn-md btn-success" %>


